* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgba(100, 115, 255, 1) 100%
    );

    .todo-app {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 520px;
        min-height: 600px;
        background: #161a2b;
        text-align: center;
        margin: 128px auto;
        border-radius: 10px;
        padding-bottom: 32px;
      }
      
      h1 {
        margin: 32px 0;
        color: #fff;
        font-size: 24px;
      }
      
      .complete {
        text-decoration: line-through;
        opacity: 0.4;
      }